# Secret Keys
server/config/service-account.json
server/serviceAccountKey.json

# Environment Variables
.env
.env.local
.env.*.local

# Dependencies
node_modules/

# Build & Logs
build/
dist/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Firebase
.firebase/